/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */



html, body { height:100% }
body {font-size:12px;font-family:arial, helvetica;line-height:1.25em}
h1, h2, h3 { line-height:1em; letter-spacing:.01em;font-family:"KippCleOneD"; font-weight:normal }


a:link, a:visited, a:active { text-decoration:none; color:#0000ff }
a:hover {color:#0000ff; text-decoration:underline}
#region-branding {margin-left:0}

body.front h1.site-name,
body.front h1#page-title { display:none }
h1.site-name { font-size:38px;margin-bottom:.15em;line-height:33px }
h1.site-name a, 
h2.site-name a { color:#000 }
h1.site-name a:hover { color:#0000ff;text-decoration:none }

#page, #section-content, #zone-content-wrapper, #zone-content, #region-content { margin:0; height:100% }
#region-content { margin-top:1.25em }
.page-node-2 #region-content,
.page-node-9 #region-content  { margin-top:0 }

body.front #page { display:none }
#imgholdr {width:100%;height:96%}
#imgholdr td {vertical-align: middle;}
#imgholdr img {vertical-align: middle;}

.block-3 {display:none}



#block-menu-block-1 { margin: 0 0 2em 0;padding:.5em 0 0;border-top:1px solid;border-bottom:1px solid }
#block-menu-block-1 ul {margin:0}
#block-menu-block-1 ul li { margin:0;list-style:none; padding: 0 0 .5em 0 }
#block-menu-block-1 ul ul { margin:0 0 0 1em;}
/*
#block-menu-block-1 ul ul a {font-size:28px;line-height:1em;font-family:"KippCleOneD"; font-weight:normal; }
*/
#block-menu-block-1 li a {font-weight:bold; text-decoration:none}
ul.menu a:hover { color:#000 }


#region-sidebar-first, #region-sidebar-second { margin:1em 0 0 0 }
#region-sidebar-first .block-inner,
#region-sidebar-second .block-inner { padding:0 1em}
#block-system-main .block-inner { padding:0 1em}

#region-sidebar-first h2 { margin-bottom:.35em }


#block-block-5 img {max-width:100%;height:auto}
#block-block-5 { padding-top:36em;background: url('../images/ente-web.png') no-repeat 30px 100px}
#block-block-6 { padding-bottom:15em;background: url('../images/ente-web.png') no-repeat 70% 100% }

#block-block-2 h2 {}

body.page-node-2 .node-page {background: url('../images/ente-web.png') no-repeat 90% 100%}
table#imgholdr img { cursor:pointer }

.portraet {margin-bottom:1em }
.person { width:31%;margin-right:2%; margin-bottom:1em;border-bottom:1px solid #000;padding-bottom:.5em }

/* wysiwyg styles */

span.kippenorm, 
span.kippgross, 
span.kippmittel, 
span.kippklein,
span.credo { font-family:"KippCleOneD"; font-weight:normal; }
span.kippklein { color:#000 }

span.kippenorm { font-size: 28em;line-height:1em }
span.kippgross { font-size: 10em;line-height:1em }
span.kippmittel { font-size: 7em;line-height:1em }
span.kippklein, span.credo, #region-sidebar-first h2 { font-size: 30px;line-height:1em }
span.blau { color:#0000ff }

span.nowrap { white-space:nowrap }

p.rating {font-size:11px;font-weight:bold}

.page-node-2 .field-item p {position:relative}
a.stoerer { z-index:200;position:absolute }
a#stoerermail { background: url(../images/unterstuetzen-mail.gif) no-repeat; width: 157px;height:157px; top:400px;left:620px}
a#stoerermail:hover { background-position: -160px }
a#stoerersupport { background: url(../images/unterstuetzen-wemakeit.png) no-repeat; width:170px;height:169px; top:30px;left:560px}
a#stoerersupport:hover { background-position: -169px 1px }

img.inline { float:left }